{% extends 'layout.html' %}
{% set active_page = "supplier" %}
{% block content %}
<div>
    <h1>{{title}}</h1>
    <hr>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="row gy-3 overflow-hidden">
            <div class="col-sm-6">
                {% with field=form.name %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
            <div class="col-sm-6">
                {% with field=form.principal %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
            <div class="col-sm-6">
                {% with field=form.abbreviation %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
            <div class="col-sm-6">
                {% with field=form.nif %}
                {% include 'field.html' %}
                {% endwith %}
            </div>

            <div class="col-sm-6">
                {% with field=form.iban %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
            <div class="col-sm-6">
                {% with field=form.contact %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
            <div class="col-sm-6">
                {% with field=form.email %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
            <div class="col-sm-6">
                {% with field=form.address %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
            <div class="col-sm-6">
                {% with field=form.postcode %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
            <div class="col-sm-6">
                {% with field=form.city %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
            <div class="col-12">
                {% with field=form.remark %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
            <div class="d-print-none">
                {% if request.endpoint == 'supplier.new' %}
                {{ form.submit(class="btn btn-success float-end ms-1") }}
                <a href="{{url_for('supplier.index')}}" class="btn btn-secondary float-end">Cancel</a>
                {% elif request.endpoint == 'supplier.update' %}
                {{ form.update(class="btn btn-primary float-end ms-1") }}
                <a href="{{url_for('supplier.index')}}" class="btn btn-secondary float-end">Cancel</a>
                {% endif %}
            </div>
        </div>
    </form>
</div>
{% endblock content %}