{% extends 'layout.html' %}
{% block content %}
<div>
    <!-- title -->
    <h1>{{title}}</h1>
    <hr>
    <form action="" method="post" id="employee_form" novalidate>
        {{ form.hidden_tag() }}
        <div class="row gy-3 overflow-hidden justify-content-center">
            <div class="col-sm-6">
                {{ form.file_name.label (class="fw-bold form-label") }}
                <div class="input-group">
                    {% if form.file_name.errors %}
                    {{ form.file_name(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.file_name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.file_name(class="form-control") }}
                    {% endif %}
                    <div class="input-group-append">
                        <span class="input-group-text">{{file.formate}}</span>
                    </div>
                </div>
            </div>
            <div class="w-100 my-0"></div>
            <div class="col-sm-6">
                {% with field=form.remark %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
            <div class="w-100 my-0"></div>
            <div class="col-sm-6">
                {{ form.update(class="btn btn-primary float-end") }}
            </div>
        </div>
</div>
{% endblock content %}