{% extends 'layout.html' %}
{% set active_page = "employee" %}
{% block content %}
<div class="mx-2 mx-md-5 mb-5">
    <!-- title -->
    <div class="row">
        <div class="col-md">
            <h1>{{title}}</h1>
            {% if not employee.active %}
            <p class="text-warning mb-2">Inactive</p>
            {% endif %}
        </div>
    </div>
    <div class="row-md d-print-none">
        <a href="{{url_for('employee.update',employee_id=employee.id)}}" class="btn btn-info pr-2"
            id="update_button">Update</a>
        {% if employee.active %}
        <form action="{{url_for('employee.inactivate',employee_id=employee.id)}}" method="post" class="d-inline">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="submit" value="Inactivate" class="btn btn-danger">
        </form>
        {% else %}
        <form action="{{url_for('employee.activate',employee_id=employee.id)}}" method="post" class="d-inline">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="submit" value="Activate" class="btn btn-success">
        </form>
        {% endif %}
    </div>
    <hr>
    <!-- informations -->
    <dl class="row">
        <dt class="col-lg-4">ID:</dt>
        <dd class="col-lg-8">{{ employee.id }}</dd>
        <dt class="col-lg-4">Name:</dt>
        <dd class="col-lg-8">{{ employee.full_name }}</dd>
        <dt class="col-lg-4">Chinese Name:</dt>
        <dd class="col-lg-8">{{ employee.zh_name or '-'}}</dd>
        <dt class="col-lg-4">Sex:</dt>
        <dd class="col-lg-8">{{ employee.sex }}</dd>
        <dt class="col-lg-4">Birthday:</dt>
        <dd class="col-lg-8">{{ employee.birthday or '-'}}</dd>
        <dt class="col-lg-4">Contact:</dt>
        <dd class="col-lg-8">{{ employee.contact or '-'}}</dd>
        <dt class="col-lg-4">E-Mail:</dt>
        <dd class="col-lg-8">{{ employee.email or '-'}}</dd>
    </dl>
    <dl class="row">
        <dt class="col-lg-4">ID Type:</dt>
        <dd class="col-lg-8">{{ employee.id_type }}</dd>
        <dt class="col-lg-4">ID Number:</dt>
        <dd class="col-lg-8">{{ employee.id_number }}</dd>
        <dt class="col-lg-4">ID Validity:</dt>
        <dd class="col-lg-8">{{ employee.id_validity }}</dd>
        <dt class="col-lg-4">Nationality:</dt>
        <dd class="col-lg-8">{{ employee.nationality }}</dd>
        <dt class="col-lg-4">NIF:</dt>
        <dd class="col-lg-8">{{ employee.nif or '-'}}</dd>
        <dt class="col-lg-4">NISS:</dt>
        <dd class="col-lg-8">{{ employee.niss or '-'}}</dd>
    </dl>
    <dl class="row">
        <dt class="col-lg-4">Start date:</dt>
        <dd class="col-lg-8">{{ employee.start_date or '-'}}</dd>
        <dt class="col-lg-4">Total Salary:</dt>
        <dd class="col-lg-8">{{ employee.total_salary }}</dd>
        <dt class="col-lg-4">Taxed Salary:</dt>
        <dd class="col-lg-8">{{ employee.taxed_salary }}</dd>
    </dl>
    <dl class="row">
        <dt class="col-lg-4">Remark:</dt>
        <dd class="col-lg-8">{{ employee.remark or '-'}}</dd>
    </dl>
</div>
{% endblock content %}