{% extends 'layout.html' %}
{% set active_page = "employee" %}
{% block content %}
<div>
    <h1>{{title}}</h1>
    <hr>
    <h3>Active Employees</h3>
    <div class="mb-2 d-print-none">
        <a href="{{url_for('employee.new')}}" class="btn btn-success">New</a>
    </div>
    {% if employees %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered text-nowrap text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Chinese Name</th>
                    <th scope="col">Sex</th>
                    <th scope="col">NIF</th>
                    <th scope="col">NISS</th>
                    <th scope="col">Detail</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <th>
                        <strong>{{ employee.id }}</strong>
                    </th>
                    <td class='align-middle'>{{ employee.first_name }}</td>
                    <td>{{ employee.last_name }}</td>
                    <td>{{ employee.zh_name or '-'}}</td>
                    <td>{{ employee.sex }}</td>
                    <td>{{ employee.nif or '-'}}</td>
                    <td>{{ employee.niss or '-'}}</td>
                    <td><a href="{{url_for('employee.detail',employee_id=employee.id)}}"><span class="material-icons">
                                more_vert
                            </span></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% if i_employees %}
    <hr>
    <h3>Inactive Employees</h3>
    <div class="table-responsive">
        <table class="table table-striped table-bordered text-nowrap text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Chinese Name</th>
                    <th scope="col">Sex</th>
                    <th scope="col">NIF</th>
                    <th scope="col">NISS</th>
                    <th scope="col">Detail</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in i_employees %}
                <tr>
                    <th>
                        <strong>{{ employee.id }}</strong>
                    </th>
                    <td>{{ employee.first_name }}</td>
                    <td>{{ employee.last_name }}</td>
                    <td>{{ employee.zh_name or '-'}}</td>
                    <td>{{ employee.sex }}</td>
                    <td>{{ employee.nif or '-'}}</td>
                    <td>{{ employee.niss or '-'}}</td>
                    <td><a href="{{url_for('employee.detail',employee_id=employee.id)}}"><span class="material-icons">
                                more_vert
                            </span></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

{% endblock content %}