{% extends 'layout.html' %}
{% set active_page = "employee" %}
{% block content %}
<div class="mx-2 mx-md-5 mb-5">
    <h1>{{title}}</h1>
    <hr class="mb-4">
    <form action="" method="post" id="employee_form" class="px-3" novalidate>
        {{ form.hidden_tag() }}
        <fieldset>
            <!-- First Row -->
            <div class="form-row">
                <!-- First Name -->
                <div class="form-group col-md-6">
                    {% with field=form.first_name %}
                    {% include 'field.html' %}
                    {% endwith %}
                </div>
                <!-- Last Name -->
                <div class="form-group col-md-6">
                    {% with field=form.last_name %}
                    {% include 'field.html' %}
                    {% endwith %}
                </div>
            </div>
            <!-- Second Row -->
            <div class="form-row">
                <!-- ZH Name -->
                <div class="form-group col-md-4">
                    {% with field=form.zh_name %}
                    {% include 'field.html' %}
                    {% endwith %}
                </div>
                <!-- Sex -->
                <div class="form-group col-md-4">
                    {% with field=form.sex %}
                    {% include 'field.html' %}
                    {% endwith %}
                </div>
                <!-- Birthday -->
                <div class="form-group col-md-4">
                    {% with field=form.birthday %}
                    {% include 'field.html' %}
                    {% endwith %}
                </div>
            </div>
            <!-- Third Row -->
            <div class="form-row">
                <!-- Contact -->
                <div class="form-group col-md-5">
                    {% with field=form.contact %}
                    {% include 'field.html' %}
                    {% endwith %}
                </div>
                <!-- Email -->
                <div class="form-group col-md-7">
                    {% with field=form.email %}
                    {% include 'field.html' %}
                    {% endwith %}
                </div>
            </div>
            <hr>
            <!-- Fourth Row -->
            <div class="form-row">
                <!-- ID Type -->
                <div class="form-group col-sm-6 col-md-3">
                    {% with field=form.id_type %}
                    {% include 'field.html' %}
                    {% endwith %}
                </div>
                <!-- ID Number -->
                <div class="form-group col-sm-6 col-md-3">
                    {% with field=form.id_number %}
                    {% include 'field.html' %}
                    {% endwith %}
                </div>
                <!-- ID Validity -->
                <div class="form-group col-sm-6 col-md-3">
                    {% with field=form.id_validity %}
                    {% include 'field.html' %}
                    {% endwith %}
                </div>
                <!-- ID Nationality -->
                <div class="form-group col-sm-6 col-md-3">
                    {% with field=form.nationality %}
                    {% include 'field.html' %}
                    {% endwith %}
                </div>
            </div>
            <!-- Fifth Row -->
            <div class="form-row">
                <!-- NIF -->
                <div class="form-group col-sm-6">
                    {% with field=form.nif %}
                    {% include 'field.html' %}
                    {% endwith %}
                </div>
                <!-- NISS -->
                <div class="form-group col-sm-6">
                    {% with field=form.niss %}
                    {% include 'field.html' %}
                    {% endwith %}
                </div>
            </div>
            <hr>
            <!-- Sixth row -->
            <div class="form-row">
                <!-- Start Date -->
                <div class="form-group col-sm-6 col-md-3">
                    {% with field=form.employment_date %}
                    {% include 'field.html' %}
                    {% endwith %}
                </div>
                <!-- Salary -->
                <div class="form-group col-sm-6 col-md-3">
                    {% with field=form.total_salary %}
                    {% include 'field.html' %}
                    {% endwith %}
                </div>
                <!-- Tax Salary -->
                <div class="form-group col-sm-6 col-md-3">
                    {% with field=form.taxed_salary %}
                    {% include 'field.html' %}
                    {% endwith %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    {% with field=form.remark %}
                    {% include 'field.html' %}
                    {% endwith %}
                </div>
            </div>
            <!-- Submit Button -->
            <div class="form-group">
                {{ form.submit(class="btn btn-success col-12") }}
            </div>
        </fieldset>
    </form>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function () {
        $('select#nationality').select2({
            theme: 'bootstrap4',
        });
    });    
</script>
{% endblock js %}