{% extends 'layout.html' %}
{% set active_page = "employee" %}
{% block content %}
<div>
    <h1>{{title}}</h1>
    <hr>
    <form action="" method="post" id="employee_form" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-row">
            <div class="form-group col-sm-6">
                {% with field=form.first_name %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
            <div class="form-group col-sm-6">
                {% with field=form.last_name %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
            <div class="form-group col-sm-6">
                {% with field=form.zh_name %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
            <div class="form-group col-sm-6">
                {% with field=form.sex %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
            <div class="form-group col-sm-6">
                {% with field=form.birthday %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
            <div class="form-group col-sm-6">
                {% with field=form.contact %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
            <div class="form-group col-sm-6">
                {% with field=form.email %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
        </div>
        <hr>
        <div class="form-row">
            <div class="form-group col-sm-6">
                {% with field=form.id_type %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
            <div class="form-group col-sm-6">
                {% with field=form.id_number %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
            <div class="form-group col-sm-6">
                {% with field=form.id_validity %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
            <div class="form-group col-sm-6">
                {% with field=form.nationality %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
            <div class="form-group col-sm-6">
                {% with field=form.nif %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
            <div class="form-group col-sm-6">
                {% with field=form.niss %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
        </div>
        <hr>
        <div class="form-row">
            <div class="form-group col-sm-6">
                {% with field=form.employment_date %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
            <div class="form-group col-sm-6">
                {% with field=form.total_salary %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
            <div class="form-group col-sm-6">
                {% with field=form.taxed_salary %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                {% with field=form.remark %}
                {% include 'field.html' %}
                {% endwith %}
            </div>
        </div>
        <div class="d-print-none">
            {{ form.submit(class="btn btn-success ml-1 float-right") }}
            <a href="{{url_for('employee.index')}}" class="btn btn-secondary  float-right">Cancle</a>
        </div>
    </form>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function () {
        $('select#nationality').select2({
            theme: 'bootstrap4',
        });
    });    
</script>
{% endblock js %}